/*CUSTOM-PROPS */

:root {
    --yellow: #FFD634;
    --black: #2B150D;
    --white: #F9F8F3;
    --sub-gray: #E8E8E8;
    --soft-white: #FFFFFF;
    --grey: #BBBBBB;
    --orange: #FF7A1B;
    --green: #52C12A;
    --red: #FF3838;
    --dark-black: #1F1F1F;
    --soft-black: #000;
    --gilroy-b: 'Gilroy bold';
    --gilroy-300: 'Gilroy 300';
    --museo: 'Museo Sans Cyrl 100';
}


/* FONTS */

@font-face {
    font-family: 'Gilroy bold';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy 300';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'), url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-100.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL */

*:focus {
    outline: 3px dotted var();
    outline-offset: 3px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--museo);
    color: var(--dark-black);
    background-color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTOFILL-STYLES */


/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */


/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1610px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}


/* MAIN-CONTENT */

.main-content {
    flex-grow: 1;
}


/* BUTTON */

.button {
    display: inline-block;
    padding: 13px 35px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;
    background-color: var(--orange);
    color: var(--white);
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}


/* SITE-HEADER */

.site-header {
    padding-top: 17px;
    padding-bottom: 17px;
}

.site-header__container {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.site-header__logo-link {
    text-decoration: none;
}

.site-header__logo {
    width: 191;
    height: 76;
    object-fit: cover;
}

.site-header__benefit-wrapper {
    flex-direction: column;
}

.site-haeder__benefit__list {
    display: flex;
    margin: 0;
    /* margin-top: 0;
    margin-bottom: 10px; */
    padding: 0;
    list-style: none;
}

.site-haeder__benefit__item:not(:last-child) {
    margin-right: 41px;
}

.site-header__benefit__search-wrapper {
    display: flex;
}

.site-header__benefit__search-button {
    background-color: var(--yellow);
    cursor: pointer;
    border: 0;
}

.site-header__benefit__search-area {
    width: 602px;
    height: 45px;
    border: 1px solid var(--sub-gray);
}

.site-header__contact {
    position: relative;
    top: 5px;
}

.site-header__order-wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.site-header__order-link {
    display: block;
    text-decoration: none;
}


/* .site-header__order-button {
    background-color: var(--orange);
    color: var(--white);
} */


/* DIVIDE */

.divide {
    padding: 0;
    background-color: var(--soft-white);
}

.divide__container {
    align-items: center;
}

.divide__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between;
}

.divide__item {
    cursor: pointer;
}

.yellow-item {
    background-color: var(--yellow);
}

.divide__item-wrapper {
    display: flex;
    align-items: center;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px; */
    /* border: 1px solid gray; */
}

.divide__item-button {
    margin-right: 20px;
}

.divide__item-text {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}


/* BANNER */

.banner {
    padding: 0;
}

.banner__container {
    justify-content: center;
}

.banner__img {
    width: 1551px;
    height: 379px;
    object-fit: contain;
}


/* MADE */

.made {
    padding-top: 40px;
    padding-bottom: 0;
    background-color: var(--soft-white);
}

.made__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.made__item {
    display: flex;
    align-items: center;
}

.made__item:not(:last-child) {
    margin-right: 2px;
}

.made__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 16.36px;
}

.made__info {
    font-family: var(--museo);
    font-weight: 600;
    font-size: 14px;
    line-height: 126.5%;
    align-items: center;
    color: var(--black);
    letter-spacing: -0.015em;
}


/* CATHEGORY */

.cathegory {
    padding-top: 30px;
    background-color: var(--soft-white);
}

.cathegory__main-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-black);
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: var(--museo);
}

.cathegory__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: var(--museo);
    color: var(--black);
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
}

.cathegory__main-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.cathegory__main-item:not(:last-child) {
    margin-right: 27px;
}

.cathegory__first-card__wrapper {
    padding-top: 22px;
    padding-bottom: 336px;
    padding-left: 24px;
    padding-right: 40px;
    background-image: url('../img/cathegory/cathegory-bg.png');
    background-repeat: no-repeat;
    /* background-position: center center; */
}

.cathegory__lists {
    display: flex;
}

.cathegory__list,
.cathegory__list-2 {
    /* display: flex; */
    margin: 0;
    padding: 0;
    list-style: none;
}

.cathegory__item {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-family: var(--museo);
    color: var(--dark-black);
}

.cathegory__item:not(:last-child) {
    margin-bottom: 10px;
}

.cathegory__list-2 {
    margin-left: 40px;
}

.cathegory__first-card__img {
    margin-top: 67px;
    margin-bottom: 0;
}


/* SECOND-card */

.cathegory__second-card__banya {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 19px;
    background-image: url('../img/cathegory/cathegory-bg-2.png');
    background-repeat: no-repeat;
}

.cathegory__second-card__perlogi {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 30px;
    background-image: url('../img/cathegory/cathegory-bg-2.png');
    background-repeat: no-repeat;
}

.cathegory__second-card__star {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 20px;
    background-image: url('../img/cathegory/cathegory-bg-2.png');
    background-repeat: no-repeat;
}

.cathegory__second-card__banya-wrap,
.cathegory__second-card__perlogi-wrap,
.cathegory__second-card__star-wrap {
    margin-right: 137px;
}


/* THIRD-card */

.cathegory__third-card__detskie {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 1px;
    padding-top: 22px;
    padding-left: 24px;
    padding-bottom: 42px;
    padding-right: 45px;
    background-image: url('../img/cathegory/cathegory-bg-3.png');
    background-repeat: no-repeat;
}

.cathegory__third-card__doma {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 59px;
    padding-right: 22px;
    background-image: url('../img/cathegory/cathegory-bg-4.png');
    background-repeat: no-repeat;
}


/* BESTSELLERS */

.bestsellers {
    background-color: var(--soft-white);
}

.bestseller__title {
    color: var(--dark-black);
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    font-family: var(--museo);
}

.bestsellers__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--white);
}

.bestsellers__item {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

.bestsellers__item:not(:last-child) {
    margin-right: 20px;
}

.bestsellers__item-link {
    color: var(--dark-black);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--museo);
    text-decoration: none;
}

.bestsellers__item:hover {
    border-bottom: 1px solid var(--orange);
    background-color: var(--soft-white);
}

.bestsellers__products__list {
    flex-wrap: wrap;
    padding-top: 20px;
    margin-left: 10px;
    list-style: none;
    display: flex;
}

.bestsellers__products__item:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
}


/* CART */

.bestsellers__product-wrapper {
    width: 330px;
    /* padding: 20px 10px 14px; */
    padding-top: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    /* padding-right: 10px; */
    border: 2px solid var(--sub-gray);
    background-color: var(--white);
}

.bestsellers__product-wrapper:not(:last-child) {
    /* margin-right: 1px; */
}

.bestsellers__product__img {
    margin-top: 0;
    margin-bottom: 2px;
}

.bestsellers__product__articul-wrapper {
    margin-top: 0;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}

.bestsellers__product__articul {
    margin-right: 185px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: var(--dark-black);
    opacity: 0.75;
}

.bestsellers__product__title {
    margin-top: 0;
    margin-bottom: 9px;
    font-family: var(--museo);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    color: var(--dark-black);
}

.bestsellers__product__info-list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 19px;
    list-style: none;
}

.bestsellers__product__info-item {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.bestsellers__product__info-item:not(:last-child) {
    margin-bottom: 0;
}

.bestsellers__product__info-img {
    margin: 0;
}

.bestsellers__product__info-text {
    /* position: relative; */
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: var(--dark-black);
    font-family: var(--museo);
}

.square {
    position: relative;
    left: -19px;
}

.bestsellers__products__buy-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.bestsellers__products__buy-item:not(:last-child) {
    margin-right: 33px;
}

.bestsellers__products__buy-sale {
    text-decoration: line-through;
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-family: var(--museo);
    color: var(--grey);
}

.sale {
    font-weight: 400;
    font-size: 11.0213px;
    line-height: 13px;
    color: var(--black);
    font-family: var(--museo);
    background-color: var(--yellow);
}

.bestsellers__products__buy-price {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    font-family: var(--museo);
    color: var(--red);
}

.bestsellers__products__buy-link {
    padding: 15px 40px;
    align-items: center;
    /* display: flex; */
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: 5px;
}

.bestsellers__products__buy-link:hover {
    background-color: var(--red);
    color: var(--soft-white);
}

.bestsellers__products__buy-link:active {
    opacity: 0.6;
}


/* PROMOTIONAL-MODELS */


/* promotional-models === bestsellers */


/* RECALLS */

.recalls {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--soft-white);
}

.recalls__container {
    padding-top: 42px;
    padding-bottom: 42px;
    background-color: var(--white);
    text-align: center;
}

.recalls__title {
    margin-top: 0;
    margin-bottom: 35px;
    font-family: var(--museo);
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: var(--dark-black);
}

.recalls__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.recalls__button:hover {
    opacity: 0.8;
}

.recalls__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.recalls__item {
    width: 468px;
}

.recalls__item:not(:last-child) {
    margin-right: 16px;
}

.recall__wrapper {
    padding: 25px;
    background-color: var(--soft-white);
}

.recall__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recall__user {
    margin-top: 0;
    margin-bottom: 6px;
    font-family: var(--museo);
    font-weight: 400;
    font-size: 18px;
    line-height: 97.37%;
    color: var(--dark-black);
}

.recall__date {
    margin-top: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 97.37%;
    color: var(--grey);
    font-family: var(--museo);
}

.recall__rat {}

.recall__rate-img {}

.recall__hline {
    margin-top: 0;
    margin-bottom: 18px;
    height: 2px;
    background-color: var(--sub-gray);
    border: 0;
}

.recall__hero {
    margin: 0;
}

.recall__hero-text {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 14px;
    line-height: 144%;
    color: var(--dark-black);
    font-family: var(--museo);
}

.recall__link {
    margin-top: 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 144%;
    font-family: var(--museo);
    color: var(--orange);
    text-decoration-line: underline;
}

.recalls__main-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--museo);
    color: var(--soft-white);
    background-color: var(--orange);
    padding: 10px 33px;
    align-items: center;
    text-decoration: none;
    border: 1px solid var(--white);
    border-radius: 3px;
}

.recalls__main-link:hover {
    opacity: 0.8;
}


/* ABOUT-US */

.about-us {
    padding-bottom: 35px;
    background-color: var(--soft-white);
}

.about-us__container {
    display: flex;
    align-items: center;
}

.about-us__info__wrapper {
    width: 732px;
    margin-right: 68px;
}

.about-us__info__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: var(--dark-black);
    font-family: var(--museo);
}

.about-us__info__line {
    margin-top: 0;
    margin-bottom: 39px;
    height: 2px;
    background-color: var(--orange);
    border: 0;
}

.about-us__info__text {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 158.5%;
    align-items: center;
    color: var(--dark-black);
    font-family: var(--museo);
}

.about-us__info__quote-info {
    display: flex;
    align-items: flex-start;
    margin-top: 0;
    padding: 0;
}

.about-us__info__quote-icon {
    margin-right: 18px;
}

.about-us__info__quote-text {
    margin-top: 0;
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 18px;
    line-height: 158.5%;
    color: var(--dark-black);
    font-family: var(--museo);
}

.about-us__info__quote-person {
    margin-top: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 158.5%;
    opacity: 0.5;
    color: var(--dark-black);
    font-family: var(--museo);
}

.about-us__img {
    position: relative;
    top: 35px;
}


/* ARTICLES */

.articles {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--soft-white);
}

.articles__title {
    margin-top: 0;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: var(--dark-black);
    font-family: var(--museo);
}

.articles__all-wrapper {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.articles__list {
    padding: 0;
    margin-right: 20px;
    list-style: none;
}

.articles__item:not(:last-child) {
    margin-bottom: 34px;
}

.articles__card {
    padding: 0;
    width: 480px;
}

.articles__card__img {
    margin-top: 0;
    margin-bottom: 9px;
}

.articles__card__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 172.5%;
    color: var(--orange);
    font-family: var(--museo);
}

.articles__card__date {
    margin-top: 0;
    margin-bottom: 6px;
    color: var(--grey);
    font-family: var(--museo);
    font-weight: 400;
    font-size: 12px;
    line-height: 172.5%;
    display: flex;
    align-items: center;
}

.articles__card__text {
    width: 480px;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 172.5%;
    color: var(--dark-black);
    font-family: var(--museo);
}

.articles__card__link {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--orange);
    font-family: var(--museo);
    text-decoration-line: underline;
}

.middle-card {}


/* SUBSCRIBE */

.subscribe {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: var(--white);
}

.subscribe__container {
    display: flex;
    align-items: center;
}

.subscribe__title {
    font-family: var(--museo);
    color: var(--dark-black);
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-right: 22px;
}

.subscribe__info {
    display: flex;
    align-items: center;
    margin-right: 33px;
}

.subscribe__info__form {
    padding: 14px;
    width: 254px;
    background-color: var(--soft-white);
    border: 1px solid var(--sub-gray);
    border-radius: 5px;
}

.subscribe__info__form:not(:last-child) {
    margin-right: 16px;
}

.subscribe__link {
    padding: 14px 30px;
    background-color: var(--orange);
    color: var(--soft-white);
    font-family: var(--museo);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
}


/* SITE-FOOTER */

.site-footer {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--dark-black);
}


/* TOP */

.footer-top__container {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.footer-top__logo-link {
    margin-right: 98px;
}

.footer-top__address {
    /* justify-content: space-between; */
    margin-right: 331px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--museo);
    color: var(--white);
}

.footer-top__time {
    margin-right: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
}


/* MIDDLE */

.footer-middle__container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(187, 187, 187, 0.5);
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
}

.footer-middle__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-middle__item {
    display: flex;
    flex-direction: column;
}

.footer-middle__item:not(:last-child) {
    margin-right: 64px;
}

.footer-middle__item-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--museo);
}

.footer-middle__item-partitition-link {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: var(--soft-white);
}

.footer-middle__item-partitition-link:hover {
    color: var(--orange);
}

.footer-middle__item-partitition-link:active {
    opacity: 0.6;
}

.footer-middle__item-partitition-link:not(:last-child) {
    margin-bottom: 16px;
}

.footer-middle__socials-contact-wrapper {
    margin-left: 331px;
    margin-right: 86px;
}

.footer-middle__socials-contact__number-text {
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
}

.footer-middle__socials-contact__number {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--soft-white);
}

.orangered-text {
    color: var(--orange);
}

.footer-middle__socials-contact__email {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.footer-middle__socials-contact__socials-title {
    margin-top: 0;
    margin-bottom: 14px;
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.footer-middle__socials-contact__socials__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-middle__socials-contact__socials__item {
    color: var(--white);
    cursor: pointer;
}

.whatsapp:hover {
    color: var(--green);
}

.youtube:hover {
    color: var(--red);
}

.instagram:hover {
    color: var(--orange);
}

.footer-middle__socials-contact__socials__item:not(:last-child) {
    margin-right: 15.6px;
}

.footer-middle__info {}

.footer-middle__info__text {
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
}

.footer-middle__info__number {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--soft-white);
}

.footer-middle__wrong-text {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.footer-middle__info__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-middle__info__item {
    margin: 0;
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 150.5%;
    font-family: var(--museo);
    color: var(--white);
}


/* BOTTOM */

.footer-bottom__container {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom__public-offer__text {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.75);
}

.footer-bottom__payments__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: var(--museo);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.footer-bottom__payments__item {
    font-family: var(--museo);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.footer-bottom__payments__item:not(:last-child) {
    margin-right: 24px;
}

.footer-bottom__payments__item-link {
    color: #808080;
}

.footer-bottom__payments__item-link:hover {
    color: var(--orange)
}


/* ABOUT-COMPANY page */

.a-c__hero {
    padding-top: 60px;
    position: relative;
    background-color: var(--soft-white);
    /* background-image: url('../img/ABOUT_COMPANY/v-1.png');
    background-repeat: no-repeat;
    background-position: center center; */
}

.a-c__hero__container {}

.a-c__hero__title {
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.a-c__hero__inner {
    display: flex;
    align-items: center;
}

.a-c__hero__inner__ellipse {
    position: relative;
    top: -105px;
    margin-right: 25px;
    width: 36px;
    height: 35px;
}

.a-u__hero__inner__info {
    margin-right: 84px;
}

.a-u__hero__inner-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 28px;
    line-height: 172.5%;
}

.a-uc__hero__inner-line {
    position: relative;
    left: -222px;
    margin-top: 0;
    margin-bottom: 16px;
    width: 104px;
    height: 4px;
    border: 0;
    background-color: var(--orange);
}

.a-u__hero__inner-text {
    margin-top: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
}

.a-c__hero__inner__img {
    position: relative;
    top: -60px;
}


/* INFO */

.a-c__info {
    padding-top: 47px;
    padding-bottom: 47px;
    background-color: var(--soft-white);
    background-image: url('../img/ABOUT_COMPANY/v-2.png');
    background-repeat: no-repeat;
    background-position: 20px 10px;
}

.a-c__info__list {
    display: flex;
    margin: 0;
    /* padding-top: 0;
    padding-bottom: 0;
    padding-left: 0; */
    padding-right: 22px;
    list-style: none;
}

.a-c__info__item:not(:last-child) {
    margin-right: 30px;
}

.a-c__info__card {
    width: 460px;
    align-items: center;
}

.a-c__info__card-img {
    margin-top: 0;
    margin-bottom: 18px;
}

.a-c__info__card-title {
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 172.5%;
}

.a-c__info__card-text {
    margin-top: 0;
    margin-bottom: 22px;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.5%;
}

.a-c__info__card-ellipse {
    z-index: 10000;
    position: relative;
    left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vector-2 {
    z-index: 0;
    position: relative;
    top: -625px;
}

.ellipse-1 {
    z-index: 10000;
    position: relative;
    top: 80px;
}

.ellipse-2 {
    z-index: 10000;
    position: relative;
    top: 110px;
}


/* BOTTOM */

.a-c__info__container-bottom {
    justify-content: center;
}

.a-c__info-bottom {
    padding-top: 47px;
    padding-bottom: 47px;
    background-color: var(--soft-white);
    background-image: url('../img/ABOUT_COMPANY/v-3.png');
    background-repeat: no-repeat;
    background-position: 20px 615px;
}


/* EXAMPLES */

.examples {
    background-color: var(--soft-white);
}

.examples__title-wrapper {
    position: relative;
    left: -30px;
    top: -12px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.examples__title-ellipse {
    margin-right: 24px;
    align-items: center;
}

.examples__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 28px;
    line-height: 172.5%;
}

.examples__line {
    margin-top: 0;
    margin-bottom: 34px;
    height: 4px;
    border: 0;
    background-color: var(--sub-gray);
}

.examples__list {
    display: flex;
    flex-wrap: wrap;
    /* width: 1437px; */
    margin: 0;
    padding: 0;
    list-style: none;
}

.examples__item:not(:last-child) {
    margin-bottom: 14px;
    margin-right: 14px;
}

.examples__img {
    width: 470px;
    height: 265px;
    object-fit: contain;
}


/* CHOOSING */

.choosing {
    padding-top: 20px;
    padding-bottom: 77px;
    background-color: var(--soft-white);
}

.choosing__title-wrapper {
    display: flex;
    align-items: center;
    /* position: relative;
    left: -30px;
    top: -12px;
    display: flex;
    align-items: center; */
}

.choosing__title-ellipse {
    margin-right: 24px;
    /* margin-right: 24px;
    align-items: center; */
}

.choosing__title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 28px;
    line-height: 172.5%;
}

.choosing__line {
    margin-top: 0;
    margin-bottom: 94px;
    height: 4px;
    border: 0;
    background-color: var(--sub-gray);
}

.choosing__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.choosing__item:not(:last-child) {
    margin-right: 10px;
}

.choosing__card {}

.choosing__card__img {
    width: 114px;
    height: 114px;
    object-fit: cover;
    margin-top: 0;
    margin-bottom: 46px;
}

.choosing__card__title {
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 20px;
    line-height: 172.5%;
}

.choosing__card__text {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.5%;
}


/* RETINA */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {}