/*CUSTOM-PROPS */

:root {
    --yellow: #FFD634;
    --black: #2B150D;
    --white: #F9F8F3;
    --sub-gray: #E8E8E8;
    --soft-white: #FFFFFF;
    --orange: #FF7A1B;
    --green: #52C12A;
    --red: #FF3838;
    --dark-black: #1F1F1F;
    --gilroy-b: 'Gilroy bold';
    --gilroy-300: 'Gilroy 300';
    --museo: 'Museo Sans Cyrl 100';
}


/* FONTS */

@font-face {
    font-family: 'Gilroy bold';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy 300';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'), url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-100.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL */

*:focus {
    outline: 3px dotted var();
    outline-offset: 3px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Gilroy 300', 'Arial', sans-serif;
    color: var(--soft-white);
    background-color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTOFILL-STYLES */


/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */


/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1610px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}


/* MAIN-CONTENT */

.main-content {
    flex-grow: 1;
}


/* BUTTON */

.button {
    display: inline-block;
    padding: 13px 35px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;
    background-color: var(--orange);
    color: var(--white);
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}


/* SITE-HEADER */

.site-header {
    padding-top: 17px;
    padding-bottom: 17px;
}

.site-header__container {
    display: flex;
    margin: 0;
    align-items: center;
    /* padding: 0; */
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}

.site-header__logo-link {
    text-decoration: none;
}

.site-header__logo {
    width: 191;
    height: 76;
    object-fit: cover;
}

.site-header__benefit-wrapper {
    flex-direction: column;
}

.site-haeder__benefit__list {
    display: flex;
    margin: 0;
    /* margin-top: 0;
    margin-bottom: 10px; */
    padding: 0;
    list-style: none;
}

.site-haeder__benefit__item:not(:last-child) {
    margin-right: 41px;
}

.site-header__benefit__search-wrapper {
    display: flex;
}

.site-header__benefit__search-button {
    background-color: var(--yellow);
    cursor: pointer;
    border: 0;
}

.site-header__benefit__search-area {
    width: 602px;
    height: 45px;
    border: 1px solid var(--sub-gray);
}

.site-header__contact {
    position: relative;
    top: 5px;
}

.site-header__order-wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.site-header__order-link {
    display: block;
    text-decoration: none;
}


/* .site-header__order-button {
    background-color: var(--orange);
    color: var(--white);
} */


/* DIVIDE */

.divide {
    padding: 0;
    background-color: var(--soft-white);
}

.divide__container {
    align-items: center;
}

.divide__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between;
}

.divide__item {
    cursor: pointer;
}

.yellow-item {
    background-color: var(--yellow);
}

.divide__item-wrapper {
    display: flex;
    align-items: center;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px; */
    /* border: 1px solid gray; */
}

.divide__item-button {
    margin-right: 20px;
}

.divide__item-text {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}


/* BANNER */

.banner {
    padding: 0;
}

.banner__container {
    justify-content: center;
}

.banner__img {
    width: 1551px;
    height: 379px;
    object-fit: contain;
}


/* MADE */

.made {
    padding-top: 40px;
    padding-bottom: 0;
    background-color: var(--soft-white);
}

.made__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.made__item {
    display: flex;
    align-items: center;
}

.made__item:not(:last-child) {
    margin-right: 2px;
}

.made__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 16.36px;
}

.made__info {
    font-family: var(--museo);
    font-weight: 600;
    font-size: 14px;
    line-height: 126.5%;
    align-items: center;
    color: var(--black);
    letter-spacing: -0.015em;
}


/* CATHEGORY */

.cathegory {
    padding-top: 30px;
    background-color: var(--soft-white);
}

.cathegory__container {
    /* display: flex;
    align-items: center; */
}

.cathegory__main-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-black);
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: var(--museo);
}

.cathegory__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: var(--museo);
    color: var(--black);
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
}

.cathegory__all-wrapper {
    /* display: flex; */
    /* justify-content: space-between; */
}

.cathegory__main-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.cathegory__main-item:not(:last-child) {
    margin-right: 27px;
}

.cathegory__first-card__wrapper {
    padding-top: 22px;
    padding-bottom: 336px;
    padding-left: 24px;
    padding-right: 40px;
    background-image: url('../img/cathegory/cathegory-bg.png');
    background-repeat: no-repeat;
    /* background-position: center center; */
}

.cathegory__lists {
    display: flex;
}

.cathegory__list,
.cathegory__list-2 {
    /* display: flex; */
    margin: 0;
    padding: 0;
    list-style: none;
}

.cathegory__item {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-family: var(--museo);
    color: var(--dark-black);
}

.cathegory__item:not(:last-child) {
    margin-bottom: 10px;
}

.cathegory__list-2 {
    margin-left: 40px;
}

.cathegory__first-card__img {
    margin-top: 67px;
    margin-bottom: 0;
}


/* SECOND-card */

.cathegory__second-card__banya {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 19px;
    background-image: url('../img/cathegory/cathegory-bg-2.png');
    background-repeat: no-repeat;
}

.cathegory__second-card__perlogi {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 30px;
    background-image: url('../img/cathegory/cathegory-bg-2.png');
    background-repeat: no-repeat;
}

.cathegory__second-card__star {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 20px;
    background-image: url('../img/cathegory/cathegory-bg-2.png');
    background-repeat: no-repeat;
}

.cathegory__second-card__banya-wrap,
.cathegory__second-card__perlogi-wrap,
.cathegory__second-card__star-wrap {
    margin-right: 137px;
}


/* THIRD-card */

.cathegory__third-card__detskie {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 1px;
    padding-top: 22px;
    padding-left: 24px;
    padding-bottom: 42px;
    padding-right: 45px;
    background-image: url('../img/cathegory/cathegory-bg-3.png');
    background-repeat: no-repeat;
}

.cathegory__third-card__doma {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 59px;
    padding-right: 22px;
    background-image: url('../img/cathegory/cathegory-bg-4.png');
    background-repeat: no-repeat;
}


/* SITE-FOOTER */

.site-footer {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--dark-black);
}


/* TOP */

.footer-top__container {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.footer-top__logo-link {
    margin-right: 98px;
}

.footer-top__address {
    /* justify-content: space-between; */
    margin-right: 331px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--museo);
    color: var(--white);
}

.footer-top__time {
    margin-right: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
}


/* MIDDLE */

.footer-middle__container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(187, 187, 187, 0.5);
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
}

.footer-middle__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-middle__item {
    display: flex;
    flex-direction: column;
}

.footer-middle__item:not(:last-child) {
    margin-right: 64px;
}

.footer-middle__item-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--museo);
}

.footer-middle__item-partitition-link {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: var(--soft-white);
}

.footer-middle__item-partitition-link:hover {
    color: var(--orange);
}

.footer-middle__item-partitition-link:active {
    opacity: 0.6;
}

.footer-middle__item-partitition-link:not(:last-child) {
    margin-bottom: 16px;
}

.footer-middle__socials-contact-wrapper {
    margin-left: 331px;
    margin-right: 86px;
}

.footer-middle__socials-contact__number-text {
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
}

.footer-middle__socials-contact__number {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--soft-white);
}

.orangered-text {
    color: var(--orange);
}

.footer-middle__socials-contact__email {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.footer-middle__socials-contact__socials-title {
    margin-top: 0;
    margin-bottom: 14px;
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.footer-middle__socials-contact__socials__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-middle__socials-contact__socials__item {
    color: var(--white);
    cursor: pointer;
}


/* .footer-middle__socials-contact__socials__item:hover {
    color: var(--orange);
} */

.whatsapp:hover {
    color: var(--green);
}

.youtube:hover {
    color: var(--red);
}

.instagram:hover {
    color: var(--orange);
}

.footer-middle__socials-contact__socials__item:not(:last-child) {
    margin-right: 15.6px;
}

.footer-middle__info {}

.footer-middle__info__text {
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
}

.footer-middle__info__number {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--soft-white);
}

.footer-middle__wrong-text {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.footer-middle__info__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-middle__info__item {
    margin: 0;
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 150.5%;
    font-family: var(--museo);
    color: var(--white);
}


/* BOTTOM */

.footer-bottom__container {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom__public-offer__text {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.75);
}

.footer-bottom__payments__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: var(--museo);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.footer-bottom__payments__item {
    font-family: var(--museo);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.footer-bottom__payments__item:not(:last-child) {
    margin-right: 24px;
}

.footer-bottom__payments__item-link {
    color: #808080;
}

.footer-bottom__payments__item-link:hover {
    color: var(--orange)
}


/* RETINA */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {}